<center><img src="https://i.ibb.co/4100VJZ/DEV-logo-1.jpg" width="400"></center>

<center><font size="6"><b>Module 1. Python</b></font></center>

<center><font size="4"><b>1.2. Python Basics || Exercises</b></font></center>

***

### Task #1

1. Create a variable `x` that holds an integer value. 

2. Convert this variable `x` into floating-point number.

3. Create new variable `y` that holds any numeric value. Get the value of `x` in the power of `y` and save it as a varialbe `z`. *There might be two possible solutions.*

4. Print out the value of `z` variable and its type.

In [8]:
# YOUR CODE GOES HERE
#1
x = 2
#2
x = float(x)

2.0

In [11]:
#3
y = 3
z = pow(x, y)
#4
print(z)
print(type(z))

8
<class 'int'>

### Task #2

1. Print out the string which looks like this: **"X to the power of Y equals to Z."**, where X, Y and Z are values of your variables using string formatting.

2. Slice the string so you can read only **"X to the power"**, reverse it and print it out.

Expected outcome:
```python
x = 2
y = 3
"2 to the power of 3 equals to 8."
"rewop eht ot 2"
```

In [33]:
# YOUR CODE GOES HERE
x = 2
y = 4
str1 = f"{x} to the power of {y} equals to {x**y}."
print(str1)
str1 = str1[14::-1]
print(str1)

2 to the power of 4 equals to 16.
 rewop eht ot 2

### Task #3

1. Create a new list `my_list` that holds any 5 colors you wish.

2. Check if there is `"light purple"` color in your list. If there is no such color add it using `append` method.

3. Change the first item in your list to `"white"`.

4. Delete the second item and print the list out.

In [44]:
# YOUR CODE GOES HERE
my_list = ['blue', 'red', 'orange', 'purple', 'black']
'Light purple' in my_list
my_list.append('Light purple')
print(my_list)
my_list[0] ='white'
del my_list[1]
my_list.pop(1)

['blue', 'red', 'orange', 'purple', 'black', 'Light purple']

'orange'

In [49]:
my_list.remove('black')
print(my_list)

['white', 'purple', 'Light purple']

### Task #4

1. Create a dictionary that holds an information of countries' capitals (country as a key, capital as an item): Germany, Switzerland, Australia, India, Turkey. Print it out.

2. Add the capital of Kazakhstan.

3. Print out just the capitals names.

In [60]:
# YOUR CODE GOES HERE
dict1 = {'Germany': 'Berlin', 'Switzerland': 'Bern', 'Australia': 'Canbera', 'India': 'New-Deli', 'Turkey': 'Ankara'}
dict1['Kazakhstan'] = 'Astana'
print(dict1.values())

dict_values(['Berlin', 'Bern', 'Canbera', 'New-Deli', 'Ankara', 'Astana'])

### Task #5

Find the values that are unique for the first list.

Expected output:

```python
[1,4,6,7]
```

In [85]:
list_one = [1,2,3,4,5,6,7]
list_two = [2,5,3]
# YOUR CODE GOES HERE
set1= set(list_one) - set(list_two)

{1, 4, 6, 7}

### Task #6

Find all occurrences of substring "Data" in given string ignoring the case. 

Expected outcome:
```python
3
```

In [90]:
string = "Data science is a concept to unify statistics, data analysis, machine\
    learning and their related methods in order to understand and analyze\
    actual phenomena with data."

# YOUR CODE GOES HERE
string = string.lower()
string.count("data")

3

### Task #7

Remove duplicate from a list and create a tuple and find the minimum and maximum number.

In [105]:
random_list = [1, 4, 5, 10, 1, 3, 30, 100, 5]

# YOUR CODE GOES HERE
random_list = tuple(set(random_list))
print(max(random_list))
print(min(random_list))

100
1

### Task #8

Given two sets, checks if `set_one` is a subset or `set_two`. If it's True delete all elements from the `set_one`.

In [129]:
set_one = {57, 83, 29}
set_two = {67, 73, 43, 48, 83, 57, 29}

# YOUR CODE GOES HERE
set_one is not set_two
set_one.clear()

set()

### Task #9

Given an input string `my_string`, count occurrences of "a", "b" and "c" within a string and present them as a dictionary.

Expected output:

```python
{'a': 21, 'b': 0, 'c': 7}
```

In [136]:
string = "Data science is a concept to unify statistics, data analysis, machine\
    learning and their related methods in order to understand and analyze\
    actual phenomena with data."

# YOUR CODE GOES HERE
a = string.count("a")
b = string.count("b")
c = string.count("c")
dict1 = {'a': a, 'b': b, 'c': c}
dict1

{'a': 21, 'b': 0, 'c': 7}

### Task #10

Find sum all the items in a dictionary.

Expected outcome
```python
390
```

In [190]:
dict1 = {'a': [10, 20, 30, 40],
           'b': [22, 11, 33, 44],
           'c': [12, 34, 56, 78]}

# YOUR CODE GOES HERE
dict2 = sum(list(dict1['a']))
dict3 = sum(list(dict1['b']))
dict4 = sum(list(dict1['c']))
dict2 + dict3 + dict4

390

### Task #11

Find the second smallest and largest number is a list.

In [216]:
list1 = [1,200, 34, 65, 499, 11, -4, 42, 398, 12, 3, 100]

# YOUR CODE GOES HERE
l2 = set(list1)
print(sorted(l2)[1])
print(sorted(l2)[-2])

398

### Task #12

Concatenate following dictionaries to create a new one.

Expected outcome:
```python
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [221]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

# YOUR CODE GOES HERE
dict4 = dict(dic1)
dict4.update(dic2)
dict4.update(dic3)
dict4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Task #13

Map two lists into a dictionary.

Expected outcome:
```python
{'green': '#008000', 'blue': '#0000FF', 'red': '#FF0000'} 
```

In [225]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']

# YOUR CODE GOES HERE
dictionary_1 = dict(zip(keys, values))
dictionary_1

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}